<!doctype HTML>
<html ng-app="airbnb">
<head>
  <title>Vacation Rentals, Homes, Apartments & Rooms for Rent - Airbnb</title>

  <script src="jquery.js"></script>

  <!-- Bootstrap CSS and JS -->
  <link rel="stylesheet" href="bootstrap.css">
  <script src="bootstrap.js"></script>

  <link href="main.css" media="screen" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
  <!-- Site Nav -->
  <header id="header">
    <ng-include src="'templates/navbar.html'"></ng-include>
  </header>

  <!-- Splash -->
  <main id="site-content">
    <div class="hero">
      <div class="hero__background" aria-hidden="true">
        <div class="air-slideshow hero-slideshow">
          <ul class="slideshow-list list-unstyled">
            <li class="air-slide air-slide--active">
              <img alt="Sanfrancisco-252df5ad9ab6e9f1dc77723a6f7b6c4b" src="images/sanfrancisco.jpg" width="100%" />
            </li>
            <li class="air-slide">
              <img data-image-url="images/hero1.jpg"
              alt=""
              role="presentation"
              width="100%">
            </li>
            <li class="air-slide">
              <img data-image-url="images/hero2.jpg"
              alt=""
              role="presentation"
              width="100%">
            </li>
            <li class="air-slide">
              <img data-image-url="images/hero3.jpg"
              alt=""
              role="presentation"
              width="100%">
            </li>
          </ul>
        </div>
      </div>

      <div class="hero__content page-container-responsive page-container-full text-center">
        <div class="va-container va-container-v va-container-h">
          <header class="va-middle">
            <h2 class="text-branding text-contrast text-jumbo">Welcome Home</h2>
            <h4 class="h4 text-contrast space-4">Rent unique places to stay from local hosts in 190+ countries.</h4>
            <button class="btn btn-contrast btn-large btn-semi-transparent">How It Works</button>
          </header>
        </div>

        <!-- Search Nav -->
        <div class="hero__content-footer">
          <div class="col-sm-12 pull-left">
            <div id="searchbar">
              <div class="searchbar">
                <form action="#" id="searchbar-form">
                  <div class="searchbar-wrapper">
                    <input class="input-large searchbar__location" type="text" placeholder="Where to?" name="location" class="autocomplete" id="location">
                    <input class="input-large searchbar__checkin" type="date" name="check-in">
                    <input class="input-large searchbar__checkin" type="date" name="check-out">
                    <button class="btn btn-primary btn-large searchbar__submit">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Splash -->
    </div>

    <div ng-controller="CardsCtrl" id="discovery-container" class="container">
      <div class="discovery-section page-container-responsive" id="weekend-recommendations">
        <div class="section-intro text-center">
          <h2><strong>Just for the weekend</strong></h2>
          <p class="text-lead">Discover new, inspiring places close to home.</p>
        </div>

        <div class="discovery-tiles">
          <div class="row">
            <discoverycard ng-repeat="card in weekendCards" class="col-lg-4 rm-padding-sm col-md-12"></discoverycard>

            <div class="col-sm-12 col-lg-4 col-lg-offset-4 row-space-top-4">
              <a href="#" class="btn btn-block btn-large space-top-8">
                See All Destinations</a>
              </div>
            </div>
          </div>
        </div> <!-- End weekend recommendation -->

        <div class="discovery-section page-container-responsive row-space-6" id="discover-recommendations">
          <div class="section-intro text-center">
            <h2><strong>Explore the World</strong></h2>
            <p class="text-lead">See where people are traveling, all around the world.</p>
          </div>

          <div class="discovery-tiles">
            <div class="row">
              <discoverycard ng-repeat="card in discoverCards" class="{{ card.size }} rm-padding-sm"></discoverycard>
            </div>
          </div>
        </div> <!-- End discover recommendations -->
      <!-- End Recommendation section -->

      <div id="belong-anywhere-container" class="air-slideshow belong-anywhere" style="background-image:url(https://a2.muscache.com/airbnb/static/homepages/belong-vid-7e730d7c702ce4bbd2ad2f2dc1a300aa.jpg);">
        <ul class="belong-anywhere__slides list-unstyled belong-anywhere--loaded">
          <li class="air-slide air-slide--active belong-anywhere__belong"></li>
        </ul>
      </div> <!-- End Belong Anywhere -->

      <div id="community-wrapper" class="community space-4 hide-sm">
        <div class="space-top-8 space-8 text-center">
          <h2><strong>Our community</strong></h2>
        </div>
        <ul class="community-container col-center list-unstyled">
          <!-- Individual community cards as list items here -->
          <li class="col-md-6 col-lg-3 space-md-4">
            <div class="community-card community-card--create"></div>
          </li>

          <li class="col-md-6 col-lg-3 space-md-4">
            <div class="community-card community-card--traveling">
              <a href="#" class="community-card__link text-center">
                <div class="background-cover"></div>
              </a>
            </div>
          </li>
        </ul>
      </div><!-- End Community -->
    </div>

    <ng-include src="'templates/footer.html'"></ng-include>
    <main>

      <script src="bower_components/angular/angular.js"></script>
      <script src="app.js"></script>
    </body>
    </html>